// Define color variables
$primary-light: #D0BCFF;
$secondary-light: #D29DAC;
$primary-dark: #6750A4;

.sliderContainer {
  overflow-x: auto;
  white-space: nowrap;
  padding: 1rem 0;
  display: flex;
  justify-content: center; // Center the container
}

.sliderWrapper {
  display: flex;
  gap: 2rem; // Increase gap for more space between boxes
  justify-content: center; // Center align the product boxes
}

.productBox {
  width: 600px; // Increase width for larger box size
  height: 550px; // Increase height
  border-radius: 0.5rem;
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.2); // Stronger shadow for more depth
  padding: 1.5rem; // Increase padding
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  &.productBoxEven {
    background-color: $primary-light;
  }

  &.productBoxOdd {
    background-color: $secondary-light;
  }
}

.productImage {
  height: 18rem; // Further increase image height
  width: 100%;
  object-fit: cover;
  border-radius: 0.5rem;
  margin-bottom: 1rem; // Add some space below the image
}

.productTitle {
  color: #F3F4F6; /* Textfarbe */
  text-align: left; /* Links ausrichten */
  font-size: 1.75rem; /* Larger font size for title */
  font-weight: bold; /* Optional: Fettschrift für den Titel */
  margin-top: 0.5rem; /* Optional: Abstand nach oben */
}

.productDescription {
  color: #F3F4F6; /* Textfarbe */
  text-align: left; /* Links ausrichten */
  font-size: 1.1rem; /* Larger font size for readability */
  margin-top: 0.5rem;
  line-height: 1.6; /* Larger line-height for readability */
}
